# Ignore Maven target directory
target/

# Ignore Maven Wrapper files (optional)
mvnw
mvnw.cmd

# Ignore IDE specific files
.idea/
.vscode/

# Ignore OS specific files
.DS_Store

# Ignore log files and other build artifacts
*.log
*.jar
*.war
*.ear
*.class
*.zip
*.tar.gz
*.tgz
*.swp

# Ignore Docker files if you want to keep local changes private
# Comment out the next lines if you want to track them
# Dockerfile
# docker-compose.yml

# Ignore other potentially sensitive files
*.iml
